
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 100%;
    font-size: 16px;
  }
  .containerKitchen{
    display: grid;
    grid-template-columns: 10% 90%;
    width:100%;
    height: 100%;
    background-image: url(../../img/backgroundkitchen.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    }
   
  .headerKitchen{
    display: flex;
  flex-direction: rows;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: #ffde593a;
  }

  .logoAdmin {
    width: 120px;
    height: 120px;
    margin: 45px;
  }

  .btnLogout {
    background-color: #B99742;
    width: 100%;
    color: wheat;
    height: 4%;
    margin-bottom: 100px;
  }
  .boxGeneralKitchen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: scroll;
    scroll-behavior: smooth;
    align-items: center;
  }
.headH3{
  color: white;
}