.container-waiter{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width:100%;
  height: 100%;
  position: fixed;
  background-image: url(../../img/backgroundwaiter.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.waiter-logout{
  width: 100%;
  height: 12%;
  background-color: rgba(136, 10, 10, 0.137);
  border: 0.5px solid #d58841ce;
}
.logo-icon-waiter{
  width: 115px;
  height: 115px;
  margin: 5px 10px;
}
.btn-option-logout {
  background: rgba(136, 10, 10, 0.418);
  border: 0.5px solid #d58841ce;
  color: wheat;
  font-weight: bold;
  border-radius: 21px;
  width: 10%;
  height: fit-content;
  margin-top: 2.5%;
  margin-right: 2%;
  padding: 10px;
  float: right;
}
.container-take-orders{
  display: grid;
  grid-template-rows: 10% 55%;
  width: 60%;
  height: 80%;
  margin-top: 30px;
}
.option-menu{
  display: flex;
  flex-direction: row;
  color:#F6E7D8;
  justify-content: space-around;
}
.btn-menu{
  width: 20%;
  height: 3vmax;
  font-size: 1.3em;
  color:wheat;
  background: rgba(136, 10, 10, 0.418);
  box-shadow: 0px -1px 2px rgba(255, 255, 255, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 21px;
  border: 0.5px solid #d58841ce;
  }
.container-products{
  display: flex;
  background-color: transparent;
  margin-left: 10px;
  position: relative;
}
.container-menu{
  display: grid;
  grid-template-columns:30% 30% 30%;
  grid-template-rows:30% 30% 30%;
  justify-content: space-between;
  justify-items: center;
  border-radius: 30px;
}
.container-menu1{
  position: absolute;
}
.container-product {
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 40%;
  height: 90%;  
  border: 0.5px solid #d58841ce;
  background: #d58841bd;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.menu-img{
 border-radius: 20px; 
 width: 87%;
 height: 72%;
 padding: 1px;
}
.menu-description{
  text-align: center;
  color: #F6E7D8;
  font-size:  0.6vmax;
  font-weight: bolder;
}
.container-order{
  width: 30%;
  height:81%;
  background-color: transparent;
  border-radius: 30px;
  font-size: 1.5em;
  text-align: center;
  color:#F6E7D8;
}
.container-new-order{
  display: flex;
  flex-direction: column;
  width: 99%;
  height:63%;
  flex-direction: column;
  flex-wrap: wrap;
  border: 0.5px solid #DCAA7B;
  background-color: #2b070777;
  border-radius: 21px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 5px;
 }





