.container-admin{
    display: grid;
   grid-template-columns: 15% 85%;
  justify-content: center;
    border: 10px solid black;
    width:100%;
   height: 100%;
   background-image: url(../../img/backgroundadmin.png);
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
   
  }
  .titles-control-panel{
      text-align: center;
      color: wheat;
  }
.container-option-control-panel{
     display: flex;
    flex-direction: rows;
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
    background-color: #43537f82;
   
}

.logo-icon-admin{
width: 80px;
height: 80px;
margin-left: 20px;
}
.btn-option-panel{
background-color:#43537f; 
color: wheat;
   
}
.container-show-control-panel{
      color: white;
    overflow: scroll;  
 
    
  
}
  th{
      color: wheat;
      border: 5px solid #43537f;
       background-color: #43537f82;
       height: 20%;

  }
  td{
      
      color: wheat;
      border: 5px solid #43537f;
   
    
  }
 

 

.icon-edit{
    width: 3vmax;
    height: 3vmax;
}

.icon-delete{
    width: 3vmax;
    height: 3vmax;
}

.btn-add-item{
    width: 20%;
    align-self: flex-end;
    position: absolute;
    background-color: #43537f;
    color: wheat;


}
.icon-product{
    width: 3vmax;
    height: 3vmax;
}

.container-form-new-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: flex-start;
    width: 70%;
    height: 70%;
    margin: auto;
   
}
.create-form{
    display: flex;
    grid-template-columns: 40% 60%;
    display: grid;
    flex-direction: rows;
    flex-wrap: wrap;
    width: 70%;
    height: 70%;
    
   
}

.label-form-text{
  background-color: beige;
   height: 40%;
   color: rgb(138, 120, 138);
   font-size: 20px;
}
.input-form-text{
    background-color: beige;
    color: black;
    height: 40%;
    font-size: 20px;
}
 .input-form-radio{
    background-color: beige;
    color: wheat;
    height: 40%;
    font-size: 20px;

 }
 