.orderForm{
    display: grid;
    grid-template-columns:100% ;
    grid-template-rows:15% 15% 15% 15%;
    width: 100%;
    height: 100%;
    color: white;
    align-items: flex-start;
    justify-content: flex-start;
    border: 4px solid transparent;
    background-color: transparent;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 5px;
   }

.orderInputs{
    display: grid;
    grid-template-columns:100% ;
    grid-template-rows:50% 50%; 
}

.offset {
   width: 3em;
   height: 1.5em;
   
  }
.row {
    display: grid;
    color: white;
    grid-template-columns:5% 5% 10% 40% 15% 15% 15% ;
    
    width: 100%;
    height: 100%;
}
.plusItems{
    color:white;
    font-size: 1.5em;
}

.deleteButton {
    width: .5em;
    font-size: 1em;
    font-style: bold ;
    align-items: center;
    color:white;
    cursor: pointer;
    background-color: transparent;
}


.qty {
    font-size: 1.5em;
    color: white;
    margin-top:5px;
    cursor: pointer; 
    text-align: center;
    
}
.sumButton{
    width: .5em;
    font-size: 1.5em;
    font-style: bold ;
    align-items: center;
    color:white;
    cursor: pointer;
    background-color: transparent;
}

.container-new-order{
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}
.subtotal{
    color: white;
    font-size: 1.5em;
    font-style: bold ;
    align-items: center;
}
.total{
    margin-top: 1em;
    display: flex;
}
.downButton{
    background-color: transparent;
    font-size: 1.5em;
    font-style: bold ;
    align-items: center;
    color:white;
    cursor: pointer;
    border: 4px solid #d58841ce;
    border-radius: 20px;
    border-width: .15em;
}
