*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 100%;
  
  }

.container-login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items:center;
    background-image: url(../../img/background.png);
    background-repeat: no-repeat;
    background-size:cover;
  }
  .register-container{
    width: auto;
    height: 90%;
    padding: 40px;
    display: grid;
    grid-template-rows: auto;
    position: absolute;
    justify-items: center;
    justify-content: center;
    border: 2px solid #DCAA7B;
    background-color:#310606af;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .logo-icon {
    
    width: auto;
    height: auto;
   
  }
  
  .title-h1 {
    font-size: 6vmax;
    text-align: center;
    color:#F6E7D8;
   
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .title-h3 {
    color: #f2ecec;
  
    height: auto;
    font-size:  2vmax;
    text-align: center;
  }
  .box-form{
    border:10px solid black;
    background: #F6E7D8;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    width: 80%;
    height: auto;
    padding: 5px;
    margin: 15px 0;
  }
  .input-form{
    color: #9f2525;
    font-size: 80%;
    border: none;
    background-color: #F9F7DC;
  }
  .input-form::placeholder{
    color: #9f2525;
    font-size: 1.3em;
  }
  .input-form:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
  
  .icon{
    width: 4%;
    padding: 10px;
  }
  
  
  .btn-form{
     width: 70%;
    color: #FFFFFF;
    font-size: 2em;
    background: #9f2525;
    box-shadow: 0px -1px 2px rgba(255, 255, 255, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 21px;
    border: none;
    margin-bottom: 20px;
    padding: 10px;
    height: auto;
  }
    .title-error{
      width: 80%;
    color: #F6E7D8;
    font-size:  2.5vmax;
    text-align: center;
    background-color: rgb(204, 85, 70);
    border-radius: 21px;
    height: auto;
  }
  
  