.rowOrderDashboard {
    text-align:center;
    padding: 0.5rem;
    border-bottom: thin solid transparent;
    height: auto;
    width: fit-content;
    background: #d58841bd;
    font-size: 80%;
    color: #F6E7D8;
}
.pendingStatus{
    color: #956B0B;
    background-color: #FFD36E;
    border: 0.5px solid #956B0B;
    border-radius: 10px;
    width: fit-content;
    height: auto;
    padding: 5px 10px;
    text-align: center;
    font-size: 13px;
    margin: auto;
}
.readyStatus{
    color: rgb(44, 45, 125);
    background-color: #9FB4FF;
    border: 0.5px solid rgb(44, 45, 125);
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    margin: auto;
    height: auto;
}
.deliverStatus{
    color: rgb(43, 90, 13);
    background-color: #a3d217;
    border: 0.5px solid rgb(43, 90, 13);
    border-radius: 10px;
    width: fit-content;
    padding: 5px 10px;
    text-align: center;
    font-size: 13px;
    margin: auto;
    height: auto;
}
.btnStatus{
    width: 30%;
    border: none;
    background: none;
}
.icon{
    width: 45%;
    height: 45px;
}
.containerbtnStatus{
    display: flex;

    flex-wrap: wrap;
}

