
.containerOrderStatus{
    width: 100%;
    height: 70%;
    border: 0.8px solid #d58941;
    background-color: transparent;
    box-shadow: 0px -1px 2px rgba(255, 255, 255, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-radius: 21px;
    float: left;
    margin-bottom: 20px;
}
.headerTable{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    margin-top: 10px;

}
.titleTable {
    font-size: 1.5em;
    height: auto;
    margin: 5px;
    color: wheat;
    text-align: center;
}
.table {
    width: 98%;
    margin-top: 20px;
    margin-left: 10px;
}
.titleColumns{
    text-align:center;
    padding: 0.5rem;
    border: 0.5px solid transparent;
    height: fit-content;
    width: fit-content;
    color: wheat;

}
.headTable{
    background: rgba(136, 10, 10, 0.418);
    color: wheat;
    font-weight: bolder;
    height: auto;
}

