.containerFormStatus{
  width: 100%;
  height: 40%;
  border: 0.5px solid #d58941;
  overflow: scroll;
  scroll-behavior: smooth;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: transparent;
}
.inputForm {
    border: thin solid #9f2525;
    border-radius: 0.25rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    outline: none;
    width: 80%;
    font-size: .8rem;
    background-color: #F6E7D8;
    height: auto;
    color: #9f2525;
    margin-left: 10px;
  }
  .inputForm::placeholder {
    color: #9f2525;
  }
  .btnAccions{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;

  }
  .btnForm {
    width: 20%;
    height: fit-content;
    background: rgba(136, 10, 10, 0.418);
    border: 0.5px solid #d58941;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem 0 0;
    color: wheat;
    font-weight: bolder;
    font-size: .8rem;
  }
  .form {
    width: 93%;
    background: #d58841bd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: auto auto;
  }
  .titleTable {
      font-size: 1.5em;
      height: auto;
      margin: 10px 5px;
      color: wheat;
      text-align: center;
  }
.titleForm{
  background: rgba(136, 10, 10, 0.418);
  color: wheat;
  height: auto;
  padding: 10px;
  width: 90%;
  margin: auto auto;
}
.labelForm{
  color: white;
  font-weight: bolder;
  text-align: start;
  width: 80%;
  margin: 10px;
  font-size: .8rem;
}
.boxForm{
margin-top: 20px;
border-radius: 21px;
width: 100%;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
height: auto;
}